.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.halcyonNavBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.link___5L6Ys {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button__vHtZ0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__qg8X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__houA2 {
  font-size: 18px;
  font-family: "Playfair Display", serif;
}
.svg__uLgG9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__bUGc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      var(--token-SCDf76IFyKV-),
      var(--token-SCDf76IFyKV-)
    ),
    url("/plasmic/copy_of_halcyon_studios/images/woman19956241920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 70px 12px;
}
.freeBox__jGlOh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 8px;
}
.freeBox__jGlOh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jGlOh > :global(.__wab_flex-container) > *,
.freeBox__jGlOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jGlOh > :global(.__wab_flex-container) > picture > img,
.freeBox__jGlOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__ikrv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-smWFv2ThVX1L);
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h2__ikrv9 {
    font-size: 35px;
  }
}
.text__fNcvv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 652px;
  color: var(--token-FLc3Q0URvh0f);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__bfFhy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 8px;
}
.freeBox__bfFhy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bfFhy > :global(.__wab_flex-container) > *,
.freeBox__bfFhy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bfFhy > :global(.__wab_flex-container) > picture > img,
.freeBox__bfFhy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__h4Do6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: var(--token-smWFv2ThVX1L);
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h2__h4Do6 {
    font-size: 35px;
  }
}
.text__p2YXo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 652px;
  color: var(--token-FLc3Q0URvh0f);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.section__dDvK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #474747ed;
  min-width: 0;
  padding: 70px 12px;
}
.freeBox__ccaVv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 8px;
}
.freeBox__ccaVv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 11px);
  height: calc(100% + 11px);
}
.freeBox__ccaVv > :global(.__wab_flex-container) > *,
.freeBox__ccaVv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ccaVv > :global(.__wab_flex-container) > picture > img,
.freeBox__ccaVv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 11px;
}
.h2__x70E2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 414px) {
  .h2__x70E2 {
    font-size: 35px;
    padding-top: 0px;
  }
}
.text__qnNqz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 652px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__c3A0J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 430px;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__uSet9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 0px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg___6HsJb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9J82R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tEqqy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sbLoE {
  color: var(--token-jgohepLVeKvh);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zfP0K {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.halcyonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.halcyonFooterBottom:global(.__wab_instance) {
  max-width: 100%;
}
