.container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: none;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 3px;
  padding: 30px;
}
.freeBox___325Zp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox___325Zp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___325Zp > :global(.__wab_flex-container) > *,
.freeBox___325Zp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___325Zp > :global(.__wab_flex-container) > picture > img,
.freeBox___325Zp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__svuMz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: var(--token-smWFv2ThVX1L);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h4__svuMz {
    font-size: 24px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    color: var(--token-smWFv2ThVX1L);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    text-align: center;
    min-width: 0;
  }
}
.text__jb1JI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-FLc3Q0URvh0f);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .text__jb1JI {
    text-align: center;
    margin-top: calc(0px + 10px) !important;
  }
}
.freeBox__wsH4O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__wsH4O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__wsH4O > :global(.__wab_flex-container) > *,
.freeBox__wsH4O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wsH4O > :global(.__wab_flex-container) > picture > img,
.freeBox__wsH4O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__uVdS9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: var(--token-smWFv2ThVX1L);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h4__uVdS9 {
    font-size: 24px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    color: var(--token-smWFv2ThVX1L);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    text-align: center;
    min-width: 0;
  }
}
.text__wyUkh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-FLc3Q0URvh0f);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .text__wyUkh {
    text-align: center;
    margin-top: calc(0px + 10px) !important;
  }
}
.freeBox__zOyu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__zOyu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__zOyu > :global(.__wab_flex-container) > *,
.freeBox__zOyu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zOyu > :global(.__wab_flex-container) > picture > img,
.freeBox__zOyu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__nZlmb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: var(--token-smWFv2ThVX1L);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h4__nZlmb {
    font-size: 24px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    color: var(--token-smWFv2ThVX1L);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    text-align: center;
    min-width: 0;
  }
}
.text__qFgJj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-FLc3Q0URvh0f);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .text__qFgJj {
    text-align: center;
    margin-top: calc(0px + 10px) !important;
  }
}
.freeBox__cBk8B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__cBk8B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__cBk8B > :global(.__wab_flex-container) > *,
.freeBox__cBk8B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cBk8B > :global(.__wab_flex-container) > picture > img,
.freeBox__cBk8B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__nuyrj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: var(--token-smWFv2ThVX1L);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h4__nuyrj {
    font-size: 24px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    color: var(--token-smWFv2ThVX1L);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    text-align: center;
    min-width: 0;
  }
}
.text__zmtl3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FLc3Q0URvh0f);
  min-width: 0;
}
@media (max-width: 414px) {
  .text__zmtl3 {
    text-align: center;
  }
}
.freeBox__xYvsR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__xYvsR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__xYvsR > :global(.__wab_flex-container) > *,
.freeBox__xYvsR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xYvsR > :global(.__wab_flex-container) > picture > img,
.freeBox__xYvsR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__sZi25 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: var(--token-smWFv2ThVX1L);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h4__sZi25 {
    font-size: 24px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    color: var(--token-smWFv2ThVX1L);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    text-align: center;
    min-width: 0;
  }
}
.text___5MvVk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FLc3Q0URvh0f);
  min-width: 0;
}
@media (max-width: 414px) {
  .text___5MvVk {
    text-align: center;
  }
}
.freeBox__qjxBy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__qjxBy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__qjxBy > :global(.__wab_flex-container) > *,
.freeBox__qjxBy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qjxBy > :global(.__wab_flex-container) > picture > img,
.freeBox__qjxBy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4___8CiSz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: var(--token-smWFv2ThVX1L);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h4___8CiSz {
    font-size: 24px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    color: var(--token-smWFv2ThVX1L);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    text-align: center;
    min-width: 0;
  }
}
.text__cmJqj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FLc3Q0URvh0f);
  min-width: 0;
}
@media (max-width: 414px) {
  .text__cmJqj {
    text-align: center;
  }
}
.freeBox__om81O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 9px 8px 8px;
}
.freeBox__om81O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__om81O > :global(.__wab_flex-container) > *,
.freeBox__om81O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__om81O > :global(.__wab_flex-container) > picture > img,
.freeBox__om81O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__kO0FZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: var(--token-smWFv2ThVX1L);
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 414px) {
  .h4__kO0FZ {
    font-size: 24px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
    color: var(--token-smWFv2ThVX1L);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    text-align: center;
    min-width: 0;
  }
}
.text___7CtNe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FLc3Q0URvh0f);
  min-width: 0;
}
@media (max-width: 414px) {
  .text___7CtNe {
    text-align: center;
  }
}
